.flex{
    display: flex;
    justify-content: space-between;
}

.hs-container{
    width: 90%;
    margin: 0 auto;
}

.footer{
    background: #2f327d;
    color: #fff;
    padding: 30px 0;
    /* text-align: left!important; */
}


.footer ul{
    padding: 0;
    text-align: left;
}

.text-end{
    text-align: left!important;
}

.footer ul li{
    list-style: none;
    margin-bottom: 10px;
}

.footer i{
    margin-right: 25px;
}

.footer h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
}

.footer .copyright{
    font-size: 10px;
    padding-top: 30px;
    text-align: center;
}

.footer .f{
    float: right;
}

@media only screen and (min-width: 768px) {
    .footer{
        padding-left: 70px;
    }  
}
@media only screen and (min-width: 1024px) {
    .footer{
        padding-left: 15px;
    }  
    .footer ul{
        padding: 0;
    }
    .text-end{
        text-align: right!important;
    }
}